// Define variables for your color scheme

// For example:
$blue: #0D6EFD;
$green: #1EDD88;


$red: #B24A4A;
$orange: #D36B00;
$yellow: #F6A316;
$aubergine: #42032C;
$beige: #E6D2AA;
$light-beige: #F1EFDC;
