.rounded-image-chatroom-unread {
  border: 4px solid #B24A4A;
  border-radius: 50%;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  width: 80px;
  height: 80px;
  position: absolute
}

.rounded-image-chatroom {
  border: 4px solid #42032C;
  border-radius: 50%;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.chatroom-boxes {
  background-color: #E6D2AA;
  border-radius: 20px;
  margin: 1vh;
  padding: 1vh;
  overflow: hidden; /* Empêcher le contenu de déborder */
  transition : background-color 0.5s;
  max-height: 100px;
}

.circle{
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  font-weight: bold;
  }
.number{
  font-size:10px
}
  .unread{
    color: #B24A4A;
    position: relative;
    top: 58px;
    right: -25px;
    font-size: 20px;
  }
.message{
  position: relative;
  top: -10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; // modèle de boite utilisé
  -webkit-line-clamp: 2; //propriété propre à webkit, defini le nombre de lignes max à afficher.
  -webkit-box-orient: vertical; // orientation
  max-height: 3.6em; // max-height avant de mettre ...
}
.chatroom-boxes p{
  position: relative;
  top: -2px;
  text-overflow: ellipsis;
}
.link-to-stuff{
  text-decoration: none;
}

.chatroom-boxes:hover {
  background-color: #d8c59f;
}
.chatroom-container{
  width: 97%;
  margin : 0 auto;
}

.bee-container{
position: absolute;
z-index:-1;
top: 0;
left:0;
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.bee{
  opacity: 30%;
  background-image: url(https://res.cloudinary.com/dmei6ediu/image/upload/v1703067093/placeholder-light-beige_480_jrpqzk.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 104px;
  height: 100px;
}
.messages-container{
  height: 100vh;
  overflow: hidden;
}

// div qui prends tout
// height100vh width100vw display:flex position: absolute top:0 left:0
.bandeau-service {
  // background-color:;
  border-radius: 10px;
  border: 2px solid $orange;
  padding: 10px;
  text-align: center;
  margin-bottom: 2vh;

}

.yep-no {
  display: flex;
  justify-content: space-around;
}

.btn-yep {
  font-size: 3em;
  color: $orange !important;
}

.btn-no{
  font-size: 3em;
}

.invisible {
  width: 10px;
}
