

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 40vw;
  // margin-top: 3vh;
}


.btn-margin {
  margin-top: 2vh;
}


.user-skill-distance {
  float: right; /* Alignement à gauche */
  // width: 50%; /* Moitié de la largeur de la row (2 colonnes sur 12) */
}
.skillz {
  background-color: $orange;
  color: $light-beige;
  padding: 2% 2%;
  margin: 2%;
  border-radius: 30px;
  text-align: center;
}

@media (max-width: 767px) {
  .skills-container {
    display: flex;
    flex-direction: column;
  }
}
