// Specific CSS for your home-page
/* CSS pour positionner les boutons sur la carte */


.btn-cool {
  z-index: 2;
}

.btns {
  display: flex;
  justify-content: space-around;
  transform: translateY(-10vh);
  .btn {
    padding: 2vh 6vh;
    border-radius: 10px;
    font-size: 20px;
  }
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
