.rounded-image {
  width: 10vw; /* 5% de la largeur de la vue */
  height: 10vw; /* Hauteur égale à 10% de la largeur de la vue */
  border: 2px solid black; /* Bordure noire */
  border-radius: 50%; /* Arrondir l'image */
  display: block;
  margin: auto; /* Centre l'image horizontalement */
  background-size: cover;
}

.maps-size{
  width: 100%; 
  height: 87vh;}

.mapboxgl-popup {
  max-width: 100px;
  color: $beige ; /* Couleur de fond du popup */
}

.mapboxgl-ctrl-attrib-inner{
  display: none;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  overflow: scroll; /* Empêche le texte de déborder du popup */
  text-overflow: ellipsis; /* Ajoute des points de suspension (...) pour le texte qui dépasse */
}


