.rounded-image {
  width: 2vw; /* 5% de la largeur de la vue */
  height: 2vw; /* Hauteur égale à 10% de la largeur de la vue */
  border: 2px solid black; /* Bordure noire */
  border-radius: 50%; /* Arrondir l'image */
  display: block;
  margin: auto; /* Centre l'image horizontalement */
  background-size: cover;
}
