.profile-pic {
  width: 30vh;
  height: 30vh;
  clip-path: polygon(
    50% 0%,   /* Sommet supérieur */
    100% 25%, /* Sommet supérieur droit */
    100% 75%, /* Sommet inférieur droit */
    50% 100%, /* Sommet inférieur */
    0% 75%,   /* Sommet inférieur gauche */
    0% 25%    /* Sommet supérieur gauche */
  );
  display: block;
  position: relative;
  object-fit: cover;
}

.status {
  justify-content: flex-end;
  margin-bottom: 5vh;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        margin: 5vh;
  }
}


.skillss {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70vw;
  // background-color: red;
  margin-left: -15vw;
}

.categories {
  background-color: $orange;
  color: $light-beige;
  padding: 2% 2%;
  margin: 5px 5px;
  border-radius: 30px;
  text-align: center;
  width: 30vw;
}

.skillz-container {
  h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 5vh;
}
}
.haut-droite{
  position: relative;
  font-size: 30px;
  bottom: 40%;
  right: 10%;
}
.text-contenu{
  color: white !important;
  font-size: 0.3em !important;
  bottom: 18px;
  right: -10px;
  position: relative;
}

.text-contenu-pollen{
  color: white !important;
  font-size: 0.3em !important;
  bottom: 18px;
  right: -12px;
  position: relative;
}

.haut-gauche{
  position: relative;
  font-size: 30px;
  bottom: 40%;
  left: 10%;
}