
  <div>
    <% users_with_requested_skill = [] %>
    <% @users.each do |user| %>
      <% next if user == current_user %>
      <% user.skills.each do |skill| %>
        <% if skill.id == @request.skill_id %>
          <% users_with_requested_skill << user %>
        <% end %>
      <% end %>
    <% end %>


    <% skills_combined = [] %>
    <% users_with_requested_skill.each do |user| %>
      <label>
        <%= check_box_tag 'request[user_ids][]', user.id %>
        Pseudo: <%= user.username %>
      <% user.skills.each do |skill| %>
        <% skills_combined << skill.category %>
      <% end %>
      <p>Compétences de l'utilisateur : <%= skills_combined.join(", ") %></p>
      </label>
    <% end %>
  </div>
<%# Il faudrait que chaque user soit selectionable a partir de l'index %>
