
/* Styles de base pour tous les écrans */
.navbar {
  height: 10vh;
  background-color: $beige;/* Couleur de fond de la navbar */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  align-items: center;
  justify-content: space-between;
}

.decollement{
  margin-top: -9%;
}
.navbar .container-fluid {
  align-items : baseline;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand .logo {
  padding-left: 15px;
  height: 7vh; /* Taille du logo */
}

.humans {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  color: $aubergine;
  font-weight: bolder;
  font-size: 5vw;
  text-align: left;
  flex: 1;
}

.profile-info {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2vh;
}

.btn-login {
  color: $orange;
}


.dropdown-menu {
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: $beige;
  color: $orange;
  text-decoration: none;
  transition: background-color 0.2s;
}

.dropdown-menu:hover {
  color: $aubergine;
}

.honeycomb-mail {
  width: 6vh;
  align-items: center;
  flex: 1;
  margin-right: 3vh;
}

.dropdown-item {
  color: $orange;
}

@media (max-width: 375px) {
  .navbar {
    align-items: center;
  }
}

/* Styles pour les écrans de type laptop */
@media (min-width: 768px) {
  .user-details {
    display: block; /* Affiche les détails de l'utilisateur sur les grands écrans */
  }
  .navbar {
    width: 100%;
    justify-content: center;
  }
}

.user-around {
  display: flex;
  align-items: center;
  justify-content: center;
}
